.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background: #9AB89E;
  border:none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color:#fff;
  font-size: 1.1em;
}

.navbar-default .navbar-nav > li:hover {
  background: lighten(#9AB89E, 10%);
  a {
    color:#fff;
  }
}

.navbar-default .navbar-nav li.welcome, .navbar-default .navbar-nav li.logo {

  background: inherit;
  &:hover {
    background: inherit;
  }
  a {
    cursor: text;
  }
}
.navbar-default .navbar-nav li.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.1em;
  a {
    cursor: pointer;
  }

}