[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-30px); }

  60% {
    -webkit-transform: translateY(-15px); } }
@-ms-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0); }

  40% {
    -ms-transform: translateY(-30px); }

  60% {
    -ms-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }

  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
.bounce {
  -webkit-animation-name: bounce;
  -ms-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

html, body {
  overflow-x: hidden;
  background-image: url(../../images/bg.png);
  font-family: 'Open Sans', sans-serif; }

a {
  cursor: pointer;
  outline: none; }
  a:focus, a:active {
    outline: none;
    border: none; }

.mt {
  margin-top: 1em; }

.input-group-addon {
  min-width: 39px;
  color: #fff;
  background: #299d7c;
  border-color: #68D6BD; }

.modal-content {
  padding: 1em; }

.modal-dialog {
  width: 500px; }

.btn-primary, .btn-primary:active, .btn-primary:focus {
  background-color: #299d7c;
  border-color: #68D6BD; }
  .btn-primary:hover, .btn-primary:active:hover, .btn-primary:focus:hover {
    background-color: #1e755c;
    border-color: #68D6BD; }

.btn-info, .btn-info:active, .btn-info:focus, .btn-info:disabled, .btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
  background: #34c59c; }
  .btn-info:hover, .btn-info:active:hover, .btn-info:focus:hover, .btn-info:disabled:hover, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:hover:hover, .btn-info[disabled]:hover:hover, fieldset[disabled] .btn-info:hover:hover, .btn-info.disabled:focus:hover, .btn-info[disabled]:focus:hover, fieldset[disabled] .btn-info:focus:hover, .btn-info.disabled:active:hover, .btn-info[disabled]:active:hover, fieldset[disabled] .btn-info:active:hover, .btn-info.disabled.active:hover, .btn-info[disabled].active:hover, fieldset[disabled] .btn-info.active:hover {
    background-color: #1e755c;
    border-color: #68D6BD; }

.help-block {
  color: #BB0E0E; }

.animate-view.ng-enter {
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s; }

section.main-pic {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../../images/main-pic.jpg); }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080D15;
  opacity: .7; }

section.main-pic > section {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  position: relative;
  z-index: 3;
  text-align: center; }
  section.main-pic > section:after {
    content: " ";
    display: block;
    clear: both; }
  section.main-pic > section h1 {
    font-family: 'Shadows Into Light', cursive;
    color: #fff;
    font-size: 7em;
    margin: 0;
    margin-bottom: 0.5em;
    padding-top: 0.3em; }
  section.main-pic > section h3 {
    font-size: 4em;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.3em; }

section.main-pic > section > div.auth-btns {
  margin-top: 3.5em; }
  section.main-pic > section > div.auth-btns div:nth-child(1) {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  section.main-pic > section > div.auth-btns div:nth-child(2) {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    font-size: 5em;
    line-height: 34px;
    font-family: 'Shadows Into Light', cursive; }
  section.main-pic > section > div.auth-btns div:nth-child(3) {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
section.main-pic > section .create-btn {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  section.main-pic > section .create-btn > div {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-top: 2em;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background: #9AB89E;
  border: none;
  border-radius: 0; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 1.1em; }

.navbar-default .navbar-nav > li:hover {
  background: #b8cdbb; }
  .navbar-default .navbar-nav > li:hover a {
    color: #fff; }

.navbar-default .navbar-nav li.welcome, .navbar-default .navbar-nav li.logo {
  background: inherit; }
  .navbar-default .navbar-nav li.welcome:hover, .navbar-default .navbar-nav li.logo:hover {
    background: inherit; }
  .navbar-default .navbar-nav li.welcome a, .navbar-default .navbar-nav li.logo a {
    cursor: text; }

.navbar-default .navbar-nav li.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.1em; }
  .navbar-default .navbar-nav li.logo a {
    cursor: pointer; }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(-360deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spinner {
  from {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg); }

  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
.net-spinner {
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite; }

.create-project {
  margin-top: 4em; }
  .create-project form > div.panel {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
    .create-project form > div.panel:nth-child(3n+3) {
      margin-right: 0; }

.ui-select-match, .ui-select-search {
  height: 46px;
  font-size: 18px; }
  .ui-select-match span, .ui-select-search span {
    font-size: 18px; }

.dropdown-header {
  color: #4FB487;
  font-size: 1em; }
  .dropdown-header:first-letter {
    text-transform: uppercase; }

.col-str {
  padding: 0.8em; }

.panel-heading {
  font-size: 1.2em; }

.num-rows {
  width: 32.20339%; }

.add-column.ng-enter {
  -webkit-animation: fadeInLeft 1s;
          animation: fadeInLeft 1s; }

.rel {
  margin-top: 4em; }

.my-rests h1 {
  color: #50A96E; }
.my-rests span {
  color: #2A155F;
  font-weight: 600; }
.my-rests .rests-list {
  padding: 10px 15px;
  color: #328DA1;
  font-size: 1.1em; }
