<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <!-- build:css app.min.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="libs/font-awsome/css/font-awesome.css" />
        <link rel="stylesheet" href="libs/wait-me/dist/waitMe.min.css" />
        <link rel="stylesheet" href="libs/toastr/toastr.css" />
        <link rel="stylesheet" href="libs/sweetalert/lib/sweet-alert.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="dist/main.css"/>
        <!-- endbuild -->
    </head>


    <body ng-app="nb" ng-cloak>


        <ui-view></ui-view>


        <!-- build:js app.min.js -->
        <!-- bower:js -->
        <script src="libs/jquery/dist/jquery.js"></script>
        <script src="libs/angular/angular.js"></script>
        <script src="libs/ui-router/release/angular-ui-router.js"></script>
        <script src="libs/lodash/dist/lodash.compat.js"></script>
        <script src="libs/angular-animate/angular-animate.js"></script>
        <script src="libs/wait-me/dist/waitMe.min.js"></script>
        <script src="libs/angular-messages/angular-messages.js"></script>
        <script src="libs/toastr/toastr.js"></script>
        <script src="libs/sweetalert/lib/sweet-alert.js"></script>
        <script src="libs/hello/dist/hello.all.min.js"></script>
        <script src="libs/a0-angular-storage/dist/angular-storage.js"></script>
        <!-- endbower -->
        <script src="libs/socket.io-client/socket.io.js"></script>
        <script src="libs/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
        <script src="dist/main.js"></script>
        <!-- endbuild -->

    </body>
</html>