<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Json Monster</title>
        <meta name="description" content="">
        <!-- bower:css -->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="vendor/font-awsome/css/font-awesome.css" />
        <link rel="stylesheet" href="vendor/wait-me/dist/wait-me.min.css" />
        <link rel="stylesheet" href="vendor/toastr/toastr.css" />
        <link rel="stylesheet" href="vendor/angular-ui-select/dist/select.css" />
        <link rel="stylesheet" href="vendor/sweetalert/lib/sweet-alert.css" />
        <!-- endbower -->

        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body ng-app="json.monster" ng-cloak>


        <div ng-include="'app/nav/nav.tpl.html'"></div>


            <div ui-view class="animate-view"></div>



            <% if(user) { %>
                <script>
                    user = <%- JSON.stringify(user) %>;
                </script>
            <% } %>
        <div class="container-fluid">
            <footer style="height: 200px; margin-top: 50px;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias asperiores dolores laborum minima porro quibusdam ullam? Aliquam corporis doloribus eligendi eos iure natus reiciendis sapiente suscipit voluptate voluptatibus. Perspiciatis?</p>
            </footer>
        </div>

        <!-- build:js app.min.js -->
        <!-- bower:js -->
        <script src="vendor/jquery/dist/jquery.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/ui-router/release/angular-ui-router.js"></script>
        <script src="vendor/lodash/dist/lodash.compat.js"></script>
        <script src="vendor/angular-animate/angular-animate.js"></script>
        <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="vendor/wait-me/dist/wait-me.min.js"></script>
        <script src="vendor/angular-mocks/angular-mocks.js"></script>
        <script src="vendor/gsap/src/uncompressed/TweenMax.js"></script>
        <script src="vendor/angular-messages/angular-messages.js"></script>
        <script src="vendor/ngstorage/ngStorage.js"></script>
        <script src="vendor/toastr/toastr.js"></script>
        <script src="vendor/angular-ui-select/dist/select.js"></script>
        <script src="vendor/sweetalert/lib/sweet-alert.js"></script>
        <!-- endbower -->
        <script src="dist/main.js"></script>
        <!-- endbuild -->


    </body>
</html>