<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <!-- build:css app.min.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="libs/font-awsome/css/font-awesome.css" />
        <link rel="stylesheet" href="libs/wait-me/dist/waitMe.min.css" />
        <link rel="stylesheet" href="libs/toastr/toastr.css" />
        <link rel="stylesheet" href="libs/sweetalert/lib/sweet-alert.css" />
        <!-- endbower -->
        <link rel="stylesheet" href="dist/main.css"/>
        <!-- endbuild -->
    </head>


    <body ng-app="mb.monster" ng-cloak>




        <ui-view name="nav"></ui-view>
        <ui-view></ui-view>
        <ui-view name="footer"></ui-view>




        <% if(user) { %>
        <script>
            user = <%- JSON.stringify(user) %>
        </script>
        <% } %>



        <!-- build:js app.min.js -->
        <!-- bower:js -->
        <script src="libs/jquery/dist/jquery.js"></script>
        <script src="libs/angular/angular.js"></script>
        <script src="libs/ui-router/release/angular-ui-router.js"></script>
        <script src="libs/lodash/dist/lodash.compat.js"></script>
        <script src="libs/angular-animate/angular-animate.js"></script>
        <script src="libs/wait-me/dist/waitMe.min.js"></script>
        <script src="libs/gsap/src/uncompressed/TweenMax.js"></script>
        <script src="libs/angular-messages/angular-messages.js"></script>
        <script src="libs/ngstorage/ngStorage.js"></script>
        <script src="libs/toastr/toastr.js"></script>
        <script src="libs/sweetalert/lib/sweet-alert.js"></script>
        <!-- endbower -->
        <script src="dist/main.js"></script>
        <!-- endbuild -->

    </body>
</html>