<div class="row">
  <section class="main-pic">
    <div class="overlay"></div>
    <section>
      <h1>Json Monster</h1>
      <h3>It's Never Been Easier To Create Rest Api ...</h3>
      <div class="row auth-btns" ng-if="!userService.authUser">
        <div><a class="btn btn-primary btn-block btn-lg" ng-click="home.openRegisterModal()">Register Now</a></div>
        <div>Or</div>
        <div><a class="btn btn-primary btn-block btn-lg" ng-click="home.openLoginModal()">Login</a></div>
      </div>
      <div class="row create-btn text-center" ng-if="userService.authUser">
          <div><a class="btn btn-primary btn-block btn-lg" ui-sref="create-project">Create RestApi</a></div>
      </div>
    </section>
  </section>
</div>

<div class="row">
  <div class="container">
    <h3>RestApi example:</h3>
    <iframe width="100%" height="400" src="http://jsfiddle.net/vu47678/v4q5qau9/embedded/"
            allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  </div>
</div>