
<form name="loginForm" role="form" ng-submit="login()" novalidate>
  <legend>Login</legend>
  <div class="input-group">
    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
    <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.email" required>
  </div>

  <ng-messages for="loginForm.email.$error" ng-if="loginForm.$submitted">
    <ng-message when="required" class="help-block">This field is required</ng-message>
  </ng-messages>

   </md-text-float>

  <div class="input-group mt">
    <div class="input-group-addon"><i class="fa fa-lock"></i></div>
    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password"
           required>
  </div>


  <ng-messages for="loginForm.password.$error" ng-if="loginForm.$submitted">
    <ng-message when="required" class="help-block">This field is required</ng-message>
  </ng-messages>

  <button type="submit" class="btn btn-info btn-block mt">Login</button>

  <div class="row error-animation">
    <div class="alert alert-danger" ng-if="error">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Wrong email/password
    </div>
  </div>

</form>



